.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 11%;
}
.section{
    width: 60%;
    height: auto;
    color: var(--color-purple);
    display: grid;
    grid-template-areas: 'number title line'
                        'text text img'
                        'tecnologies tecnologies img';
    grid-template-columns: 5% auto auto;
    grid-template-rows: 10% auto 20%;
}
.numberTitle{
    font-size:25px;
    grid-area: number;
    display: flex;
    justify-content: center;
    place-items: center;
}
.title{
    font-size:30px;
    grid-area: title;
    display: flex;
    place-items: center;
    font-weight:bold;
    color: var(--color-white);

}
.line{
    grid-area: line;
    display: flex;
    place-items: center;
}
.lines{
    width:60%;
    height:1px;
    background-color:var(--color-white);
}
.text{
    grid-area: text;
    padding-top:20px;
}
.text p{
    font-size: 1.2rem;
    color: var(--color-gray);
}
.text p a{
    color: var(--color-purple);
}
.image{
    grid-area: img;
    display: flex;
    
    padding-left: 10%;
    padding-top:10%;
}
.imageLogo{
    width: 100%;
    height:70%;
    position: relative;
    color: var(--color-purple);
    background-color: var(--color-purple);
    filter: opacity(0.8) drop-shadow(0 0 0 var(--color-purple));
    transition-duration: 0.5s; 
}
.imageLogo:hover{
    filter: opacity(1) drop-shadow(0 0 0 transparent);
}
.borderImg{
    width: 300px;
    height:340px;
    border: 2px solid var(--color-purple);
    position: absolute;
    top: 140%;
    left: 62%;
    z-index: -1;
}
.infoTecnologies{
    padding-top:20px;
    grid-area: tecnologies;
    display: grid;
    grid-template-columns: auto auto;
}
.infoTecnologies section p{
    font-size: 17px;
    color: var(--color-gray);
}
.icon{
    font-size:12px;
    color: var(--color-purple);
}