.container{
    z-index: 3;
    color: var(--color-gray);
    height: auto;
    position: fixed;
    left: 83%;
    top: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    font-size:12px;
}
.line{
    width: 108px;
    height: 2px;
    background-color:var(--color-gray);
}
.email{
    margin-right: 20px;
    letter-spacing: 0.2em;
    transition-duration: .5s;
    cursor: pointer;
}
.email:hover{
    transform: translateX(-7px);
    color: var(--color-purple);
    transition-duration: .5s;
}
.containerIcons{
    z-index: 3;
    color: var(--color-gray);
    width:25px;
    height: auto;
    position: fixed;
    top: 60%;
    left: 7%;
    font-size:12px;
    display: grid;
    align-items: center;
}
.icon{
    font-size:25px;
    transition-duration: .5s;
    color: var(--color-white);

}
.icon:hover{
    color: var(--color-purple);
    transform: translateY(-7px);
    transition-duration: .5s;
    cursor:pointer;
}
.lineIcons{
    width: 2px;
    height: 108px;
    margin-left: 50%;
    background-color:var(--color-gray);
}
